@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body * {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#wrapper {
  width: 1024px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  #wrapper {
    width: 80%;
  }
}

@media (max-width: 850px) {
  #wrapper {
    width: 70%;
  }
}

.headerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerInfo__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerInfo__backetContainer {
  position: relative;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 50%;
}

.headerInfo__backetContainer img {
  width: 30px;
}

.headerInfo__backetContainer__positionAmount {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  width: 30px;
  height: 30px;
  font-size: 12px;
  background-color: #0e49b5;
  position: absolute;
  bottom: -10px;
  left: -10px;
  border-radius: 50%;
}

.banner {
  width: 1000px;
  height: 500px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: contain;
}

.banner .mainForSlider {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.banner .mainForSlider__title {
  padding: 10px 20px;
  background: rgba(63, 63, 63, 0.856);
}

.banner .mainForSlider button {
  margin-top: 30px;
  font-size: 18px;
  width: 150px;
  height: 50px;
  color: white;
  background-color: #0e49b5;
  border-color: transparent;
  border-radius: 5px;
}

.search {
  position: relative;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search input {
  padding-left: 60px;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  outline-color: #0e48b52f;
}

.searchInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

.searchInfo img {
  width: 30px;
}

.searchInfo .searchFirstPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 20px;
  top: 14px;
}

.searchInfo .searchSecondPart {
  position: absolute;
  right: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchInfo .searchSecondPart .ButtonForFolterFirst {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #0e49b5;
  border-radius: 50%;
  border-color: transparent;
}

.searchInfo .searchSecondPart .ButtonForFolterSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #0e49b5;
  border-radius: 50%;
  border-color: transparent;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 850px) {
  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container__card {
  cursor: pointer;
  padding-top: 10px;
  width: 300px;
  height: 497px;
  border: 1px solid #dbdbdb;
  margin: 20px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px rgba(82, 82, 82, 0.15);
          box-shadow: 0px 0px 15px rgba(82, 82, 82, 0.15);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container__card:hover {
  -webkit-box-shadow: 0px 14px 16px rgba(82, 82, 82, 0.72);
          box-shadow: 0px 14px 16px rgba(82, 82, 82, 0.72);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container__card:hover img {
  width: 210px;
  height: 210px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container__card__favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10px;
  cursor: pointer;
}

.container__card__favorites i.far {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container__card__favorites i.far:hover {
  color: rgba(255, 0, 0, 0.521);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container__card__favorites i.fas {
  color: red;
}

.container__card__image {
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__card__image img {
  width: 200px;
  height: 200px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container__card__name {
  margin-top: 10px;
  text-align: center;
}

.container__card__instock {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__card__instock i {
  color: green;
  margin: auto 0;
}

.container__card__instock i.fa-times-circle {
  color: red;
}

.container__card__instock p {
  color: grey;
  margin-left: 3px;
}

.container__card__price {
  margin: 5px;
  color: grey;
  text-align: center;
}

.container__card__button {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__card__button button {
  width: 150px;
  height: 50px;
  color: white;
  background-color: #0e49b5;
  border-color: transparent;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container__card__button button.disabled {
  background-color: #dae2ea;
  pointer-events: none;
}

.container__card__button button:hover {
  background-color: #0a3585;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container__card__stats {
  margin-top: 10px;
  width: 298px;
  height: 70px;
  background-color: #dae2ea;
}

.container__card__stats__info {
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__card__stats__info__right p {
  text-align: center;
}

.container__card__stats__info__left {
  width: 70%;
  font-size: 14px;
  color: #3b3e66;
}

.container__card__stats__info i {
  color: red;
  margin-right: 5px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.main .filter {
  display: none;
  margin: 10px 50px 0 0;
  width: 450px;
  height: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px rgba(82, 82, 82, 0.15);
          box-shadow: 0px 0px 15px rgba(82, 82, 82, 0.15);
}

.main .filter--active {
  display: block;
}

.main .accordion__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  font-size: 20px;
  height: 60px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #0e48b542;
}

.main .accordion__head:hover {
  background-color: #0b41a71e;
  cursor: pointer;
}

.main .accordion__head--active {
  background-color: transparent;
}

.main .accordion__items {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px 35px 0px 15px;
}

.main .accordion__items--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .accordion__items .slider {
  margin-top: 10px;
}

.main .accordion__items .accordion__priceValue {
  margin: 20px 0 10px;
}

.main .accordion__items label {
  margin-bottom: 10px;
  width: 110px;
}

.main .accordion__items label:hover {
  cursor: pointer;
}

.main .accordion__items label input {
  margin-right: 10px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-ev;
      -ms-flex-pack: space-ev;
          justify-content: space-ev;
  width: 1020px;
  height: 500px;
  background-color: white;
  border-radius: 5px;
}

.modal__window__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #e2e2e2;
  width: 30%;
}

.modal__window__first img {
  width: 250px;
  height: 250px;
}

.modal__window__second {
  padding: 30px 10px 0 40px;
  border-right: 1px solid #e2e2e2;
  width: 37%;
}

.modal__window__second .container__card__stats {
  margin-top: 30px;
  border-radius: 5px;
}

.modal__window__second ul {
  margin-top: 40px;
  margin-left: -34px;
}

.modal__window__second ul li {
  margin: 5px 0;
  list-style: none;
}

.modal__window__therst {
  width: 31%;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__window__therst h2 {
  text-align: center;
}

.modal__window__therst p {
  margin-top: 30px;
  text-align: center;
}

.modal__window__therst .buttonInModal {
  margin-top: 30px;
  width: 150px;
  height: 50px;
  color: white;
  background-color: #0e49b5;
  border-color: transparent;
  border-radius: 5px;
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modalBacket {
  display: none;
  width: 430px;
  max-height: 540px;
  padding: 20px 0;
  background-color: white;
  position: absolute;
  z-index: 10000;
  top: 79px;
  right: -5px;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.modalBacket--active {
  display: block;
}

.modalBacket__info {
  border-bottom: 1px solid #dbdbdb;
  max-height: 342px;
  text-align: center;
  margin-top: 15px;
}

.modalBacket__info h3 {
  font-weight: 700;
}

.modalBacket__info p {
  margin-top: 10px;
}

.modalBacket__good-container {
  max-height: 252px;
  overflow-y: auto;
}

.modalBacket__good-container::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #0e49b5;
}

.modalBacket__good {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #dbdbdb;
}

.modalBacket__good__img {
  margin-top: 5px;
}

.modalBacket__good__img img {
  width: 100px;
  height: 100px;
}

.modalBacket__good__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalBacket__good__info p {
  margin: 0;
  font-weight: bold;
}

.modalBacket__good__info__price {
  padding: 5px 0;
  width: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(143, 201, 255, 0.363);
  color: #0084ff;
}

.modalBacket__good__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalBacket__good__amount p {
  margin: 0;
}

.modalBacket__good__amount .amount {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border-color: transparent;
  background-color: #3c44b1;
  width: 20px;
  height: 20px;
}

.modalBacket__good__amount .amount img {
  width: 10px;
}

.modalBacket__good__delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalBacket__good__delete button {
  width: 20px;
  height: 20px;
  border-color: transparent;
  background-color: #f832462a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalBacket__good__delete button img {
  width: 10px;
}

.modalBacket__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #eaf6ff;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalBacket__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalBacket__button button {
  margin-top: 30px;
  font-size: 18px;
  width: 250px;
  height: 50px;
  color: white;
  background-color: #3c44b1;
  border-color: transparent;
  border-radius: 5px;
}

.textForEmptyCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */