@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body *{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#wrapper{
    width: 1024px;
    margin: 0 auto;
    @media  (max-width:1100px) {
        width: 80%;    
    }
    @media  (max-width:850px) {
        width: 70%;
    }
    
}
.headerInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__name{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__backetContainer{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        border: 1px solid grey;
        border-radius: 50%;;
        img{
            width: 30px;
        }
        &__positionAmount{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        width: 30px;
        height: 30px;
        font-size: 12px;
        background-color: #0E49B5;
        position: absolute;
        bottom: -10px;
        left: -10px;
        border-radius: 50%;
    }
    }
}

.banner{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    img{
        width:100% ;
    }
}

.search{
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;

    input{
        padding-left: 60px;
        width: 100%;
        height: 60px;
        border-radius: 5px;
        border: 1px solid rgb(219, 219, 219);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); 
        outline-color: #0e48b52f;
    }
}
.searchInfo{
    
    display: flex;
    justify-content: space-between;
    height: 60px;
    img{
        width: 30px;
    }
    .searchFirstPart{
        display: flex;
        position: absolute;
        left: 20px;
        top: 14px;
    }
    .searchSecondPart{
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        .ButtonForFolterFirst{
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: #0E49B5;
            border-radius: 50%;
            border-color: transparent;
        }
        .ButtonForFolterSecond{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: #0E49B5;
            border-radius: 50%;
            border-color: transparent;
        }
    }
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    @media  (max-width:850px) {
        justify-content: center;
    }
    &__card{
        
        width: 300px;
        height: 480px;
        border: 1px solid rgb(219, 219, 219);
        margin:10px 0;
        border-radius: 5px;;
        box-shadow: 0px 0px 15px rgba(82, 82, 82, 0.15); 
        &__favorites{
            display: flex;
            justify-content: flex-end;
            margin: 10px 5px;
           
            i.fas{
                color: red;
            }
        }
        &__image{
            display: flex;
            justify-content: center;
            img{
                width:200px ;
                height: 200px;
            }
        }
        &__name{
            margin-top: 10px;
            text-align: center;
        }
        &__instock{
            margin:15px ;
            display: flex;
            justify-content: center;
            i{
                color:green;
                margin: auto 0;
                &.fa-times-circle{
                    color: red;
                }
            }
            p{
                color: grey;
                margin-left: 3px;
            }
        }
        &__price{
            margin:5px ;
            color: grey;
            text-align: center;
        }
        &__button{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            button{
                width: 150px;
                height: 50px;
                color: white;
                background-color: #0E49B5 ;
                border-color: transparent;
                border-radius: 5px;
                &.disabled {
                    background-color: #DAE2EA;
                    pointer-events: none;
                }
            }
            
        }
        &__stats{
            margin-top: 6px;
            width: 300px;
            height: 80px;
            background-color:#DAE2EA ;
            &__info{
                padding: 7%;
                display: flex;
                &__right{
                    p{
                        text-align: center;
                    }
                }
                &__left{
                    width: 70%;
                    font-size: 14px;
                    color: #3B3E66;
                    
                }
                i{
                    color: red;
                    margin-right: 5px;
                }
                
            }
        }

    }
}



.main {
    display: flex;
    .filter {
        margin: 10px 85px 0 0;
        width: 450px;
        height: 600px;
        border:1px solid rgb(219, 219, 219);
        border-radius: 5px;
        box-shadow: 0px 0px 15px rgba(82, 82, 82, 0.15); 
    }
    .accordion{
        &__head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            font-size: 20px;
            height: 60px;
            border-bottom: 1px solid rgb(219, 219, 219);
            &:hover{
                background-color: #0e48b542;
                cursor: pointer;
            }
        }
        &__items{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            border-bottom:1px solid rgb(219, 219, 219) ;
            padding:10px 35px 0px 15px;
            &--active {
                display: flex;
            }
            .slider {
                margin-top: 10px;
            }
            .accordion__priceValue {
                margin: 20px 0 10px;
            }
            label{
                margin-bottom: 10px;
                width:100px;
                &:hover {
                    cursor: pointer;
                }
                input {
                    margin-right: 10px;
                }
            }
        }
    }
}

#sliderRange .slider-selection{
    background-color: red !important;
}