@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body * {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  width: 1024px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  #wrapper {
    width: 80%;
  }
}

@media (max-width: 850px) {
  #wrapper {
    width: 70%;
  }
}

.headerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerInfo__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerInfo__backetContainer {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 50%;
}

.headerInfo__backetContainer img {
  width: 30px;
}

.headerInfo__backetContainer__positionAmount {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  width: 30px;
  height: 30px;
  font-size: 12px;
  background-color: #0E49B5;
  position: absolute;
  bottom: -10px;
  left: -10px;
  border-radius: 50%;
}

.banner {
  width: 1000px;
  height: 500px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: contain;
}

.banner .mainForSlider {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.banner .mainForSlider__title {
  padding: 10px 20px;
  background: rgba(63, 63, 63, 0.856);
}

.banner .mainForSlider button {
  margin-top: 30px;
  font-size: 18px;
  width: 150px;
  height: 50px;
  color: white;
  background-color: #0E49B5;
  border-color: transparent;
  border-radius: 5px;
}

.search {
  position: relative;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search input {
  padding-left: 60px;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  outline-color: #0e48b52f;
}

.searchInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

.searchInfo img {
  width: 30px;
}

.searchInfo .searchFirstPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 20px;
  top: 14px;
}

.searchInfo .searchSecondPart {
  position: absolute;
  right: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchInfo .searchSecondPart .ButtonForFolterFirst {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #0E49B5;
  border-radius: 50%;
  border-color: transparent;
}

.searchInfo .searchSecondPart .ButtonForFolterSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #0E49B5;
  border-radius: 50%;
  border-color: transparent;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 850px) {
  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container__card {
  width: 300px;
  height: 480px;
  border: 1px solid #dbdbdb;
  margin: 15px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px rgba(82, 82, 82, 0.15);
          box-shadow: 0px 0px 15px rgba(82, 82, 82, 0.15);
}

.container__card__favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 15px 0 60p;
}

.container__card__favorites i.fas {
  color: red;
}

.container__card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__card__image img {
  width: 200px;
  height: 200px;
}

.container__card__name {
  margin-top: 10px;
  text-align: center;
}

.container__card__instock {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__card__instock i {
  color: green;
  margin: auto 0;
}

.container__card__instock i.fa-times-circle {
  color: red;
}

.container__card__instock p {
  color: grey;
  margin-left: 3px;
}

.container__card__price {
  margin: 5px;
  color: grey;
  text-align: center;
}

.container__card__button {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__card__button button {
  width: 150px;
  height: 50px;
  color: white;
  background-color: #0E49B5;
  border-color: transparent;
  border-radius: 5px;
}

.container__card__button button.disabled {
  background-color: #DAE2EA;
  pointer-events: none;
}

.container__card__stats {
  margin-top: 6px;
  width: 300px;
  height: 80px;
  background-color: #DAE2EA;
}

.container__card__stats__info {
  padding: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__card__stats__info__right p {
  text-align: center;
}

.container__card__stats__info__left {
  width: 70%;
  font-size: 14px;
  color: #3B3E66;
}

.container__card__stats__info i {
  color: red;
  margin-right: 5px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.main .filter {
  display: none;
  margin: 10px 50px 0 0;
  width: 450px;
  height: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px rgba(82, 82, 82, 0.15);
          box-shadow: 0px 0px 15px rgba(82, 82, 82, 0.15);
}

.main .filter--active {
  display: block;
}

.main .accordion__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  font-size: 20px;
  height: 60px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #0e48b542;
}

.main .accordion__head:hover {
  background-color: #0b41a71e;
  cursor: pointer;
}

.main .accordion__head--active {
  background-color: transparent;
}

.main .accordion__items {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px 35px 0px 15px;
}

.main .accordion__items--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .accordion__items .slider {
  margin-top: 10px;
}

.main .accordion__items .accordion__priceValue {
  margin: 20px 0 10px;
}

.main .accordion__items label {
  margin-bottom: 10px;
  width: 110px;
}

.main .accordion__items label:hover {
  cursor: pointer;
}

.main .accordion__items label input {
  margin-right: 10px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-ev;
      -ms-flex-pack: space-ev;
          justify-content: space-ev;
  width: 1020px;
  height: 500px;
  background-color: white;
  border-radius: 5px;
}

.modal__window__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #E2E2E2;
  width: 30%;
}

.modal__window__first img {
  width: 250px;
  height: 250px;
}

.modal__window__second {
  padding: 30px 10px 0 40px;
  border-right: 1px solid #E2E2E2;
  width: 37%;
}

.modal__window__second .container__card__stats {
  margin-top: 30px;
  border-radius: 5px;
}

.modal__window__second ul {
  margin-top: 40px;
  margin-left: -34px;
}

.modal__window__second ul li {
  margin: 5px 0;
  list-style: none;
}

.modal__window__therst {
  width: 31%;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__window__therst h2 {
  text-align: center;
}

.modal__window__therst p {
  margin-top: 30px;
  text-align: center;
}

.modal__window__therst .buttonInModal {
  margin-top: 30px;
  width: 150px;
  height: 50px;
  color: white;
  background-color: #0E49B5;
  border-color: transparent;
  border-radius: 5px;
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */